.choresText {
   text-align:left;
   font-family:"Arial Black", "Impact", "Comic Sans MS", cursive;
   font-size:24px;
   font-style:italic;
   color: purple;
}

.choresHeading {
   text-align:left;
   color: black;
   text-decoration:underline;

}
